@CHARSET "UTF-8";

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 40px;
}

video, #console {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow
    ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#header-links {

}

#console {
    margin-top: 20px;
    overflow-y: auto;
    width: 100%;
    height: 455px;
}

#videoContainer {
    position: absolute;
    float: left;
}

#videoBig {
    width: 640px;
    height: 480px;
    top: 0;
    left: 0;
    z-index: 1;
}

div#videoSmall {
    width: 240px;
    height: 180px;
    padding: 0px;
    position: absolute;
    top: 15px;
    left: 400px;
    cursor: pointer;
    z-index: 10;
}

div.dragged {
    cursor: all-scroll !important;
    border-color: blue !important;
    z-index: 10 !important;
}

/*Loader*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 150px;
    left: 270px;
}

#fakeImg {
    display: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#call {
    margin-top: 10px;
}

#terminate {
    margin-top: 10px;
}

.hidden { display:none; }