.myTag {
    display: inline-block;
}
.myTagContainer {
    background-color: #6db33f;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
    /*display: inline-block;*/
    padding: .4em .7em;
    margin: .2em;
}
.countLabel {

}
.popularTag {
    background-color: #4895b3;
    color: #fff;
    font-weight: 700;
    border-radius: .25em;
    display: inline-block;
    padding: .4em .7em;
    margin: .2em;
}
.deleteTagButton {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
#sendTag {
    background: transparent;
    border: none;
}
#sendTag img {
    width: 26px;
}